<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Fragmentos"
        tools:targetApi="31">
        <activity
            android:name=".ui.masterdetail.MasterDetailActivity"
            android:label="@string/superheroes"
            android:exported="true" >
        </activity>

        <activity
            android:name=".ui.tabbed.TabbedActivity"
            android:exported="true"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/Theme.Fragmentos.NoActionBar">
        </activity>

        <activity
            android:name=".ui.navdrawer.NavigationDrawerActivity"
            android:exported="true"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.Fragmentos.NoActionBar"></activity>
        <activity
            android:name=".ui.bottom.BottomNavigationActivity"
            android:exported="true"
            android:label="@string/title_activity_bottom_navigation"
            android:theme="@style/Base.Theme.Fragmentos" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Fragmentos.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>